<div class="container">
  <div class="icon">🎬</div>
  <h1>CineControl Pro</h1>
  <div class="subtitle">Crear cuenta administrativa</div>

  <form (ngSubmit)="register()">
    <input 
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Usuario"
      required>

    <input 
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Contraseña"
      required>

    <button type="submit">Registrarse</button>
  </form>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <p *ngIf="success" class="success">
    {{ success }}
  </p>

  <p style="margin-top:15px; font-size:13px;">
    ¿Ya tienes cuenta?
    <a routerLink="/login">Inicia sesión</a>
  </p>
</div>
